node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
package-lock.json
package.json
.gitignore
assets/prompt.mp3
assets/prompt1.mp3
assets/prompt2.mp3
assets/prompt3.mp3
assets/prompt4.mp3
